.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.builder-container {
    display: grid;
    grid-template-rows: 50px;
    grid-auto-rows:minmax(0,1fr);
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
}

.builder {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    height: 100%;
}

.header h3, .header h2 {
    margin: 0
}

.header {
    /* height: 50px; */
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;
    background-color: #181818;
}

.template-label-header {
    margin: auto;
    text-align: center;
    color: #e6e6e6
}

.template-label-name h3 {
    display: inline;
    vertical-align: middle;
}

.template-label-name img {
    margin-top: 5px;
    filter: invert(0.4);
}

.deploy-btn {
    margin-left: auto !important;
}

.template-label-name {
    margin: auto;
    margin-left: 16px;
    text-align: left;
    color: #727272
}

.editor {
    flex: 1;
    border-right: 5px solid #181818;
    background-color: #1e1e1e;
    overflow: hidden;
    display: grid;
    grid-template-rows: 35px;
    grid-auto-rows: 2fr 0fr 1fr;
}

.sandbox {
    flex: 1;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    position: sticky;
    overflow-y: auto;
}

.editor-container {
    width: 99%;
    box-sizing: border-box;
    resize: none;
    max-width: 100%;
}

.config-editor-container {
    height: 99%;
}

.data-editor-container {
    height: 99%;
}

#data-editor, #config-editor {
    width: 100% !important;
    height: 100% !important;
}

.submit-container {
    padding-left: 64px;
    width: 100%;
    display: flex;
}

.btn-blue {
    background-color: #9cade6 !important;
}
.btn-gold {
    background-color: #ffde5b;
}
.btn-green {
    background-color: #7be981 !important;
}

.submit-container button {
    padding: 0 10px;
    min-width: 115px;
    margin: 0 4px;
    border-width: 0;
    padding-top: 2px;
}

.submit-container a button {
    height: 100%;
}

.submit-container i {
    transform: translate(0px, 1px);
}

/* Vertical resizing */
.resize-handle {
    height: 100%;
    width: 5px;
    background-color: #1e1e1e;
    cursor: col-resize;
}
.resize-dots {
    top: 50%;
    position: relative;
}
.resize-dots::before,
.resize-dots::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}
.resize-dots::before {
  transform: translate(-50%, -50%) translateY(-5px) translateX(-3px);
}
.resize-dots::after {
  transform: translate(-50%, -50%) translateY(5px) translateX(-3px);
}

/* Horizontal resizing */
.h-resize-handle {
    height: 5px;
    width: 100%;
    background-color: #181818;
    cursor: row-resize;
}
.h-resize-dots {
    top: 50%;
    position: relative;
}
.h-resize-dots::before,
.h-resize-dots::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
}
.h-resize-dots::before {
    transform: translate(-50%, -50%) translateY(0px) translateX(5px);
}
.h-resize-dots::after {
    transform: translate(-50%, -50%) translateY(0px) translateX(-5px);
}

/* TODO: Use a bootstrap library for styling code */
.submit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    margin-right: 8px
}
.btn-green {
    background-color: #4CAF50;
}
.btn-green:hover {
    background-color: #45a049;
}
.btn-green:active {
    background-color: #3c903c;
}
.btn-blue {
    background-color: #4c63af;
}
.btn-blue:hover {
    background-color: #456ca0;
}
.btn-blue:active {
    background-color: #3c5990;
}

.overlay-container .overlay {
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.overlay-container .modal {
    position: absolute;
    max-width: 700px;
    width: 100%;
    z-index: 999999;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #fff;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 00%);
    max-height: calc(100vh - 170px);
    overflow-y: auto;
}

.overlay-container pre {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.overlay-container pre a {
    color: rgb(65, 65, 65);
    text-decoration: underline;
}


.cite-overlay pre {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.template-selector {
    max-width: 175px;
    width: 100%;
    margin: 0 4px;

    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    padding: 0px 8px;
    color: #000
}

/* Select box options */
.submit-container option:checked {
    background-color: #dbdbdb;
}
option:checked:after {
    content: attr(title);
    background: #666;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    border: none;
}
select:focus{
    border-color: gray;
    outline:none;
}

/* Option selector */
.wrapper{
    text-align:center;
    margin: 16px auto 40px auto;
}

.tabs{
    font-size: 16px;
    font-weight: bold;
    padding:0px;
    list-style:none;
    background:#fff;
    box-shadow: 0px 0px 0px 3px #181818;
    display:inline-block;
    border-radius:50px;
    position:relative;
}

.tabs a{
    text-decoration:none;
    color: #777;
    text-transform:uppercase;
    padding:10px 20px;
    display:inline-block;
    position:relative;
    z-index:1;
    transition-duration:0.2s;
}

.tabs a.active{
    color:#fff;
}

.tabs a i{
    margin-right:5px;
}

.tabs .selector{
    height:100%;
    display:inline-block;
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
    border-radius:50px;
    transition-duration:0.2s;
    transition-timing-function: cubic-bezier(0.43, -0.09, 0.51, 1.13);

    background: #181818;
}

.data-upload-container  {
    height: 300px;
    margin-bottom: 16px
}
.data-upload {
    height: 99%
}

.data-upload-container-disabled {
    position: relative;
}
.data-upload-container-disabled::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.data-upload-container-disabled.grayed {
    filter: grayscale(100%);
}

.aws-creds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
