.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    min-width: 450px;
}

.container-extra-space {
    margin-bottom: 40vh;
}

.card {
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    margin-left: auto!important;
    margin-right: auto!important;
}

.w-13 {
    width: 13%;
}

.w-15 {
    width: 15%;
}

.w-16 {
    width: 16.6%;
}

.hit-selector {
    /* min-width: 230px; */
    text-align: left;
    margin-right: 10px;
    width: max-content;
}

.hit-browser {
    max-width: 700px;
    margin-top: 0.25rem;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 5px 10px;
    height: fit-content;
    justify-self: end;
    width: 93%;
    max-height: 81px;
    overflow: hidden;
}

.hit-instructions-btn {
    transition: all 0.1s ease;
    background-color: white;
}

.crowdsource-submit {
    transition: all 0.1s ease;
    background-color: white;
    font-size: 20px
}

.hit-browser-inner {
    text-align: -webkit-center;
}

.hit-header {
    margin-bottom: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 0fr auto auto 4fr auto 0fr;
    grid-gap: 10px;
}

.editor-container {
    max-width: 800px;
    margin: auto;
}

.edit {
    margin-bottom: 1.5rem;
}

.operation {
    padding-right:16px
}

.card-body .overlay {
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.card-body .modal {
    position: absolute;
    max-width: 700px;
    width: 100%;
    z-index: 9999;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #fff;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 00%);
}

.annotation-label {
    font-family: monospace;
    color: #333;
    letter-spacing: 0.9px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#sandbox {
    overflow-y: scroll;
}

.edit-box {
    width: 200px;
}


#lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.light-orange {
    color: #ff9d5e
}

.light-purple {
    color: #be90f6
}

.brown {
    color: #c46f32
}

.default_cursor {
    cursor: default !important;
}

.mt3-5 {
    margin-top: 1.5rem;
}

.mb3-5 {
    margin-bottom: 1.5rem;
}

.context-span {
    color: #949494
}

.prev-next-btns {
    transition: 0.3s;
}

.prev-next-btns:hover {
    opacity: 0.6;
}

.tooltiptext {
    visibility: hidden;
    width: 13px;
    font-size: 10px;
    text-align: center;
    padding: 1px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -15%;
    opacity: 0;
    transition: opacity 0.4s;
  }

.circle {
    border-radius: 50%;
    border: 0.9px solid #DDDDDD;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 0.5rem;
    background-color: #DDDDDD;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.circle:hover {
    border: 1.1px solid black;
    transform: scale(1.15);
}

.circle:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.circle-active {
    border: 1.1px solid black !important;
    transform: scale(1.15);
}

.circle-bookmark {
    background-color: rgb(255, 82, 82);
    border-color: rgb(255, 82, 82);
}

.circle-finished {
    background-color: rgb(31, 227, 41);
    border-color: rgb(31, 227, 41);
}


.tooltiptext-bookmark {
    color:rgb(255, 82, 82)
}

.tooltiptext-finished {
    color:rgb(31, 227, 41)
}

.bookmark {
    transition: all 0.2s ease-in-out;
}

.bookmark-active {
    color:rgb(255, 82, 82);
    background-color: rgb(255, 82, 82)
}

.w2-5 {
    width: 2.3em;
}

.h2-5 {
    height: 2.3em;
}

.comment_area {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    border-color: #57b846;
    height: 120px;
    width: 260px;
}

textarea {
    outline: none;
    /* border: none; */
}

.w-65 {
    width: 95%;
    max-width: 1200px
}

.w-adjacent {
    max-width: 1600px;
    min-width: 1000px;
    padding-bottom: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}

span.outside {
    padding-bottom: 6px;
}

span.middleside {
    padding-bottom: 4.5px;
}

.lh-paras {
    line-height: 1.7;
}

.lh-paras-2 {
    line-height: 2;
}

.custom_style {
    display: none
}

@font-face {
    font-family: 'BlankSpace';
    src: url('@/assets/fonts/blank.ttf') format('truetype');
    unicode-range: U+0020;
}

/* Changes Ġ to ' ' */
@font-face {
    font-family: 'SpacedG';
    src: url('@/assets/fonts/whitespace.ttf') format('truetype');
    unicode-range: U+0120;
}

.hide-tokenization-chars {
    font-family: 'BlankSpace', 'SpacedG', sans-serif;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #181818;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.spinner-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.question-textarea {
    min-height: 100px;
}

.question-textbox {
    display: inline;
    max-width: 600px;
}

.adjudication-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.adjudication-container-highlight {
    border-width: 4px;
    border-color: #333333;
    border-style: dotted;
    border-bottom: 0;
    min-height: 98vh;
}

.adjacent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    grid-auto-flow: column;
}

.annotation-adjacent, .selection-adjacent {
    max-height: 97vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 75vh;
}

.annotation-adjacent {
    padding-right: 16px;
}

.selection-adjacent::-webkit-scrollbar, .annotation-adjacent::-webkit-scrollbar {
    display: none
}

.mh4 {
    margin-top: 3vh;
}

.wmin-50 { min-width: 50% }
.wmin-33 { min-width: 33% }
.wmin-25 { min-width: 25% }
.wmin-16 { min-width: 16% }

/* For screenshots */
/* 175 zoom on 1440p */
/* with width: 624px 5px 834px */
/* .f3 {
    font-size: 1.3rem;
}
.lh-paras {
    line-height: 1.5;
}
#hit .mb1 {
    margin-top: 0.6rem;
}
.orig-sentence-header {
    margin-top: 0.1rem !important;
}
.annotation-label {
    margin-bottom: 10pt
} */
/* For SCARECROW */
/* span#target-sentence {
    line-height: 1.7;
    font-size: 10.5pt;
}
.edit-box {
    width: 165px;
}
.edit-box label {
    font-size: 10pt !important;
    padding: 7px !important;
}
.tracked-light {
    margin-bottom: 0;
    margin-top: 0.2rem;
}  */



/* For CWZCC */
/* .annotation-label {
    font-size: 15pt !important;
}
.tracked-light {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.column-severity label {
    padding: 6px !important;
} */
