
  
  .quality-selection {
    display         : none;
    position: relative;
    background-color: rgb(248, 248, 248);;
    padding         : 10px;
    margin-left: auto;
    margin-right: auto;
    z-index         : 100;
  }

  .active {
    display: block;
  }
  
  .single_part {
    border-top: 1px solid #d6d6d6;
    margin-bottom: 16px;
    margin-top: 8px;
  }
  
  .single_part_error_qual {
    border-top: 3px solid #d6d6d6;
  }
  
  #close-icon {
    display      : inline-block;
    cursor       : pointer;
    border-radius: 60px;
    padding      : 0.25em 0.3em;
  }
  
  #close-icon:hover {
    background-color: #C0C0C0;
  }
  

  
  .alignment {
    vertical-align: top;
    display       : inline-block;
  }
  
  .quality {
    font-size  : 24px;
    font-weight: 300;
    line-height: 32px;
    margin     : 0px;
    display    : inline-block
  }
  
  .disable {
    opacity       : .3;
    cursor        : default;
    outline       : none;
    pointer-events: none;
  }
  
  .selection_a {
    background     : #FFD700;
    padding        : 5px;
    line-height    : 1.5;
    text-decoration: none;
  }
  
  .selection_a_antecedent {
    background     : #FBF1A9;
    padding        : 5px;
    line-height    : 1.8;
    text-decoration: none;
  }
  
  
  #selection_text {
    text-align   : center;
    margin-top   : 8px;
    margin-bottom: 5px;
  }
  
  #selection_antecedent {
    margin-bottom: 0;
  }

  .tracked-light {
    letter-spacing: .05em;
  }

.confirm-button {
  background-color: #3e6ae1;
  color: #FFFFFF;
}

.cancel-button {
  background-color: white;
}

.span-selection-div {
  display: none;
}