
:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--deep-gray: #AAAAAA;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
	--substitution: #2186eb;
	--insertion: #64c466;
	--deletion: #ee2a2a;
	--split: #F7CE46;
	--reorder: #3ca3a7;
	--structure: #EF8c56;
	--selection: #0071e3;
}

/* #Primary
================================================== */

/* body{
	width: 100%;
	background: var(--dark-blue);
	overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
}
p{
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--white);
	letter-spacing: 1px;
	font-weight: 500;
} */
.section {
    position: relative;
	width: 100%;
	display: block;
	/* text-align: center; */
	margin: 0 auto;
}
.column {
	text-align: center;
	margin: 0;
    padding-left: 2px;
    padding-right: 2px;
	float: left;
	width: 20%;
}

.column-severity {
	display: inline-block;
	text-align: center;
    padding-left: 2px;
    padding-right: 2px;
	vertical-align: top;
}

.row {
	position: relative;
	overflow: auto;
	width: 100%;
}

/* .over-hide {
    overflow: hidden;
} */
.z-bigger {
    z-index: 100 !important;
}


.background-color{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    /* background-color: var(--dark-blue); */
    background-color: var(--white);
	z-index: 1;
}

.checkbox-tools-yes-no:checked,
.checkbox-tools-yes-no:not(:checked),
.checkbox-tools:checked,
.checkbox-tools:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	/* width: 115px; */
	height: 70px;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 1px;
	/* margin: 0; */
	margin: 0 auto;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	vertical-align: middle;
}

.checkbox-tools-yes-no:checked + label,
.checkbox-tools-yes-no:not(:checked) + label{
	position: relative;
    align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	height: 20px;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 1px;
	/* margin: 0; */
	/* margin: 0 auto; */
	margin-left: 10px;
	margin-right: 2px;
	margin-bottom: 5px;
	/* width: 70px; */
	text-align: center;
	border-radius: 4px;
	/* overflow: hidden; */
	cursor: pointer;
	vertical-align: middle;
}

.checkbox-tools-severity:checked + label,
.checkbox-tools-severity:not(:checked) + label{
	position: relative;
	display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	height: 40px;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	/* margin: 0; */
	margin: 0 auto;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	vertical-align: middle;
}

.checkbox-tools-edit-category:checked + label,
.checkbox-tools-edit-category:not(:checked) + label{
	position: relative;
	display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	/* width: 198px; */
	height: 40px;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 1px;
	/* margin: 0; */
	margin: 0 auto;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	vertical-align: middle;
}

.checkbox-tools-severity:checked + label,
.checkbox-tools-yes-no:checked + label,
.checkbox-tools:checked + label{
	/* background-color: transparent; */
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
	background-color: white;
	border-radius: 10px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}

.checkbox-tools-yes-no:checked + label.question-split,
.checkbox-tools:checked + label.question-split,
.checkbox-tools:checked + label.txt-split{
	border: 2px solid var(--split);
}

.checkbox-tools-yes-no:checked + label.question-deletion,
.checkbox-tools:checked + label.question-deletion,
.checkbox-tools:checked + label.txt-deletion{
	border: 2px solid var(--deletion);
}

.checkbox-tools-yes-no:checked + label.question-substitution,
.checkbox-tools:checked + label.question-substitution,
.checkbox-tools:checked + label.txt-substitution{
	border: 2px solid var(--substitution);
}

.checkbox-tools-yes-no:checked + label.question-insertion,
.checkbox-tools:checked + label.question-insertion,
.checkbox-tools:checked + label.txt-insertion{
	border: 2px solid var(--insertion);
}

.checkbox-tools-yes-no:checked + label.question-reorder,
.checkbox-tools:checked + label.question-reorder,
.checkbox-tools:checked + label.txt-reorder{
	border: 2px solid var(--reorder);
}

.checkbox-tools-yes-no:checked + label.question-structure,
.checkbox-tools:checked + label.question-structure,
.checkbox-tools:checked + label.txt-structure{
	border: 2px solid var(--structure);
}

.checkbox-tools-yes-no:not(:checked) + label:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}

.checkbox-tools:not(:checked) + label:hover{
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}

.checkbox-tools-yes-no:checked + label::before,
.checkbox-tools-yes-no:not(:checked) + label::before,
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	/* background-image: linear-gradient(298deg, var(--red), var(--yellow)); */
    z-index: -1;
}

#error-1-label::before {
	background-color: #FF6300
}

#error-2-label::before {
	background-color: #111111
}

#error-3-label::before {
	background-color: #137752
}

#error-4-label {
	color: black;
}

#error-4-label::before {
	background-color: #9EEBCF;
}

#error-5-label::before {
	background-color: #5E2CA5
}

#error-6-label {
	color: black;
}

#error-6-label::before {
	background-color: #CCCCCC
}

#error-7-label {
	color: black;
}

#error-7-label::before {
	background-color: #FFD700
}

#error-8-label::before {
	background-color: #E7040F
}

#error-9-label::before {
	background-color: #00449E
}

#error-10-label::before {
	background-color: #FF80CC
}

.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

.section .quality_selection_container .row .column .checkbox-tools:not(:checked) + label{
	background-color: var(--light);
	color: var(--black);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-tools-yes-no:not(:checked) + label,
.checkbox-tools:not(:checked) + label{
	border-radius: 10px;
	background-color: var(--white);
	/* color: var(--black); */
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
	border: 2px solid var(--white);
	/* border: var(--deep-gray) 1.5px solid; */
}

/* .checkbox-tools-edit-category:not(:checked) + label{
	background-color: var;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
} */